html {
  font-size: 20px;
  height: 100%;
}
body {
  font-size: 15px;
  padding: 10px;
  background-color: black;
  color: white;
  overflow: auto;
  height: 100%;
}
input {
  background-color: transparent;
  color: white;
  border: none;
  width: 95%;
  margin-top: 10px;
}
hr{
  border-top: 1px solid white;
}
input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 0px #719ECE;
}
mark {
  background-color: red;
  padding: 2px;
}
.container.is-dark::before {
  background-color: black;
}
.container.is-dark>.title {
  background-color: black;
}

.scrollOnly {
  overflow-y: auto;
  height: 100%;
}

a {
  opacity: 1;
}
a:hover {
  opacity:0.9
}

.notable {
  color: GoldenRod;
}

.hyperlink {
  color: cyan;
}

.hyperlink:hover {
  opacity: 0.9;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.special {
  font-size:1em; vertical-align:+0.15em;
}

button {
  margin-left: 5px;
}
